server:
  port: 7090
spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: ORDER-SERVICE
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order/**
              filters:
                - AuthenticationFilter
            - id: PRODUCT-SERVICE
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/api/product/**
              filters:
                - AuthenticationFilter
            - id: producer-service
              uri: lb://producer-service
              predicates:
                - Path=/producer/**
            - id: authentication-service
              uri: lb://authentication-service
              predicates:
                - Path=/authentication/**, /user/**
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/inventory/**

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  tracing:
    sampling:
      probability: 1.0